
@import "./assets/styles/buttons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubuntu";
    src: url("../public/fonts/Ubuntu-B.ttf");
}

@font-face {
    font-family: "Ubuntu-Th";
    src: url("../public/fonts/Ubuntu-Th.ttf");
}

@font-face {
    font-family: "Nexa-Heavy";
    src: url("../public/fonts/Nexa-Heavy.ttf");
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center
               h-12 w-12 mt-2 mb-2 mx-auto
               bg-gray-800 text-green-500
               hover:bg-gray-600 hover:text-white
               rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
               rounded-md shadow-md
               text-white bg-gray-900
               text-xs font-bold
               transition-all duration-100 scale-0 origin-left;
    }
    * {scroll-behavior: smooth;}
    .max-h28 {
        height: 28rem;
    }
    
    .h32 {
        height: 32rem;
    }
    
    .h48 {
        height: 48rem;
    }
    
    .h64 {
        height: 64rem;
    }
    
    .h-82 {
        height: 82rem;
    }
    
    .h-100 {
        height: 100rem;
    }
    
    .h-120 {
        height: 120rem;
    }
    .h-1by12 {
        height: calc(100% / 12);
    }

    .h-2by12 {
        height: calc((100% / 12) * 2);
    }

    .h-5by12 {
        height: calc((100% / 12) * 5);
    }

    .h-11by12 {
        height: calc((100% / 12) * 11);
    }

    .max-h-11by12 {
        max-height: calc((100% / 12) * 11);
    }

    .h-10by12 {
        height: calc(100% / 1.2);
    }

    .h-1by24 {
        height: calc(100% / 24);
    }

    .h-1by48 {
        height: calc(100% / 48);
    }

    .h-45by48 {
        height: calc((100% / 48) * 45);
    }

    .h-47by48 {
        height: calc((100% / 48) * 47);
    }

    .h-3by24 {
        height: calc((100% / 23) * 3);
    }

    .h-23by24 {
        height: calc((100% / 24) * 23);
    }

    .h-22by24 {
        height: calc((100% / 24) * 22);
    }

    .h-21by24 {
        height: calc((100% / 24) * 21);
    }


    .w-1by24 {
        width: calc(100% / 24);
    }
    .w-3by24 {
        width: calc((100% / 24) * 3);
    }

    .w-21by24 {
        width: calc((100% / 24) * 21);
    }

    .w-23by24 {
        width: calc((100% / 24) * 23);
    }

    .w-1by36 {
        width: calc((100% / 36) * 1);
    }

    .w-4by36 {
        width: calc((100% / 36) * 4);
    }

    .w-31by36 {
        width: calc((100% / 36) * 31);
    }

    .text-8xl {
        font-size: 8rem;
    }

    .text-10xl {
        font-size: 10rem;
    }

    .text-12xl {
        font-size: 12rem;
    }

    .text-16xl {
        font-size: 16rem;
    }

    .header-video{
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .max-h16 {
        max-height: 16rem;
    }

    .max-h20 {
        max-height: 20rem;
    }

    .max-h24 {
        max-height: 24rem;
    }

    .max-h28 {
        max-height: 28rem;
    }

    .fhd-max-h-editor {
        max-height: 820px;
    }

    .mobile-max-h-editor {
        max-height: 160rem;
    }

    .fhd-max-h-gitlab {
        max-height: 720px;
    }

    .mobile-max-h-gitlab {
        max-height: 150rem;
    }
    
    .w16 {
        width: 16rem;
    }

    .w24 {
        width: 24rem;
    }

    .w26 {
        width: 26rem;
    }

    .h16 {
        height: 16rem;
    }

    .h24 {
        height: 24rem;
    }

    .h32 {
        height: 32rem;
    }
    
    .h48 {
        height: 48rem;
    }
    
    .h64 {
        height: 64rem;
    }
    
    .h-82 {
        height: 82rem;
    }
    
    .h-100 {
        height: 100rem;
    }
    
    .h-120 {
        height: 120rem;
    }

    .rotate-270 {
        transform: rotateZ(270deg);
    }

    .text-6xl {
        font-size: 4rem;
    }

    .bg-pg-dark {
        background-color: var(--bg-gray);
    }
    .bg-pg-dark-10 {
        background-color: var(--bg-gray);
        opacity: 10%;
    }
    .bg-pg-dark-25-opacity {
        background-color: var(--bg-gray-o-25);
    }
    .bg-pg-dark-gradient-10 {
        /* background: rgba(255, 32, 32, 0.1); */
        background: linear-gradient(180deg,rgba(64, 32, 32, .1) 0%, rgba(32, 32, 32, 0.01) 100%);
    }

    .bg-pg-gray-gradient-10 {
        /* background: rgba(255, 32, 32, 0.1); */
        background: linear-gradient(180deg,rgba(32, 32, 32, .01) 0%, rgba(32, 32, 32, 1) 75%);
    }

    .bg-pg-dark-gradient-100 {
        background: linear-gradient(180deg,rgba(32, 32, 32, 1) 0%, rgba(8, 8, 16, 1) 100%);
    }

    .bg-pg-dark-100 {
        background-color: rgba(8,8,16,1);
    }

    .bg-pg-zero-to-dark-0-100 {
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(32,32,32,.15) 25%, rgba(32,32,32,.95) 55%, rgba(8, 8, 16, 1) 100%);
    }

    .bg-pg-dark-to-black-100 {
        background: linear-gradient(180deg,rgba(8, 8, 16, 1) 0%, rgba(0,0,0,1) 100%);
    }

    .pg-bg-black-100 {
        background-color: rgba(0,0,0,1);
    }

    .bg-pink {
        background-color: rgb(243, 25, 189);
    }

    .bg-pink-blue-gradient {
        /* background: rgba(255, 32, 32, 0.1); */
        background: linear-gradient(90deg,rgb(243, 25, 189) 0%, rgb(12, 175, 240) 65%);
    }

    .bg-bar-dark-gradient {
        /* background: rgba(255, 32, 32, 0.1); */
        background: linear-gradient(0deg,rgb(32, 32, 32, .01) 0%, rgb(32, 32, 32, .25) 45%, rgb(32, 32, 32, .01) 55%, rgb(32, 32, 32, .01) 100%);
    }
}

:root{
    --bg-gray: rgba(32,32,32,1);
    --bg-gray-o-25: rgba(32,32,32,.25);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-gray);
    /* background: rgb(147,153,162); */
    /* background: radial-gradient(circle, rgba(147,153,162,1) 0%, rgba(31,34,36,1) 100%); */
    /* background-image: url("/src/assets/images/background.jpg"); */
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(32,32,32);
    border-radius: 10px;
}


@media (max-width: 724px){
    body {
        font-size: 1rem;
    }
}

@media (max-width: 1280px){
    body {
        font-size: 1.5rem;
    }
}

@media (min-width: 3840px){
    body {
        font-size: 3.2rem;
    }
}